<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.jivesoftware.com/schemas/clearspace/2_5/plugin.xsd">

    <name>poll-plugin</name>
    <description>Openhouse Poll Jive Plugin</description>
    <author>Openhouse</author>
    <version>1.0.0</version>

    <databaseKey>openhouse_poll</databaseKey>
    <databaseVersion>1</databaseVersion>

    <minServerVersion>6.0</minServerVersion>
    <maxServerVersion>6.0.9.9</maxServerVersion>

</plugin>
